TEEWORLDSHP RCDATA TeeMapWorld.shp
TEEWORLDSHX RCDATA TeeMapWorld.shx
TEEWORLDCITIES RCDATA TeeWorldCities.txt
TEEAFRICA RCDATA TeeAfrica.txt
TEEASIA RCDATA TeeAsia.txt
TEEAUSTRALIA RCDATA TeeAustraliaNewZealand.txt
TEECENTRALAMERICA RCDATA TeeCentralAmerica.txt
TEEEUROPE RCDATA TeeEurope.txt
TEEEUROPE15 RCDATA TeeEurope_EC15.txt
TEEEUROPE27 RCDATA TeeEurope_EC27.txt
TEEMIDDLEEAST RCDATA TeeMiddleEast.txt
TEENORTHAMERICA RCDATA TeeNorthAmerica.txt
TEESOUTHAMERICA RCDATA TeeSouthAmerica.txt
TEEWORLD RCDATA TeeWorld.txt
